<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đổi mật khẩu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/user.css}" />
    <link rel="stylesheet" th:href="@{/css/account.css}" />
  </head>
  <body>
    <header class="header">
      <div class="banner"><p>Miễn phí vận chuyển cho mọi đơn hàng</p></div>
      <nav class="navbar">
        <a th:href="@{/user/homePage}" title="Trang chủ"
          ><img th:src="@{/img/Logo.svg}" alt="Modimal"
        /></a>
        <ul class="nav-products">
          <li><a href="#">Áo</a></li>
          <li><a href="#">Quần</a></li>
          <li><a href="#">Đầm</a></li>
          <li><a href="#">Chân váy</a></li>
          <li><a href="#">Phụ kiện</a></li>
        </ul>
        <div class="actions">
          <div class="search-box">
            <a href="#"><img th:src="@{/img/Search_light.svg}" /></a>
          </div>
          <div class="account">
            <a th:href="@{/account/login}"
              ><img th:src="@{/img/Header profile icon.svg}"
            /></a>
          </div>
          <div class="cart">
            <a href="#"><img th:src="@{/img/Header bag icon.svg}" /></a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="content">
        <div class="register-image">
          <img th:src="@{/img/Frame 26086866.png}" alt="Poster" />
        </div>
        <div class="register-box">
          <h2>Đổi mật khẩu</h2>

          <div
            th:if="${error}"
            style="color: red; text-align: center; margin-bottom: 10px"
          >
            <span th:text="${error}"></span>
          </div>

          <form method="post" th:action="@{/user/change-password}">
            <input
              type="password"
              name="oldPassword"
              placeholder="Mật khẩu hiện tại"
              required
            />
            <input
              type="password"
              name="newPassword"
              placeholder="Mật khẩu mới"
              required
            />
            <input
              type="password"
              name="confirmPassword"
              placeholder="Xác nhận mật khẩu mới"
              required
            />

            <button type="submit" style="margin-top: 20px">Lưu thay đổi</button>
          </form>
          <p class="login-text">
            <a th:href="@{/user/homePage}">Quay lại trang chủ</a>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
