.content {
  margin: 48px 0;
  margin-left: 350px;
  display: flex;
  gap: 128px;
  align-items: center;
}

.register-box {
  width: 420px;
  font-family: "Montserrat", sans-serif;
  margin-top: -180px;
}

.register-box h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
}

.register-box form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.register-box input {
  padding: 12px 14px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.register-box input:focus {
  outline: none;
  border-color: #5f6f52;
}

.password-field {
  position: relative;
}

.password-field input {
  width: 100%;
  padding: 12px 40px 12px 14px; /* chừa chỗ icon */
  border: 1px solid #ccc;
  font-size: 14px;
}

.toggle-eye {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  cursor: pointer;
  opacity: 0.6;
}

.toggle-eye:hover {
  opacity: 1;
}

.register-box button {
  margin-top: 10px;
  padding: 12px;
  background-color: #5a6d57;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.register-box button:hover {
  opacity: 0.9;
}

.saved-password {
  font-size: 14px;
  color: #748c70;
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
  align-items: center;
}

.saved-password a {
  color: #748c70;
  margin-left: 165px;
}

.saved-password a:hover {
  text-decoration: underline;
}

.login-text {
  margin-top: 26px;
  width: 285px;
  font-size: 13px;
  display: flex;
  margin-left: 72px;
  justify-content: center;
}

.login-text a {
  color: #748c70;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
}

.login-text a:hover {
  text-decoration: underline;
}

.policy {
  margin-top: 20px;
  font-size: 14px;
  color: #000;
  text-align: center;
  line-height: 1.3;
}

.policy a {
  color: #748c70;
  text-decoration: none;
}

.policy a:hover {
  text-decoration: underline;
}
