.right-content h1 {
  margin-top: 35px;
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  height: 50px;
  padding-left: 70px;
}

.divider-2 {
  flex: 1;
  height: 1px;
  background-color: #000000;
  margin: -14px auto;
}

.down-content {
  margin-top: 28px;
  display: flex;
}

.form-wrapper {
  display: flex;
  padding-left: 24px;
  flex-direction: column;
}

.form-wrapper-up {
  border: solid 2px #748c70;
  /* width: 820px; */
  padding: 50px 35px;
}

.form-group {
  margin-bottom: 50px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 1.4rem;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  width: 100%;
  border: 1px solid #666;
  padding: 8px 10px;
  font-size: 1.4rem;
  background: #fff;
}

.form-group textarea {
  height: 160px;
  resize: none;
}

.right-content h1 {
  margin-top: 35px;
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  height: 50px;
  padding-left: 70px;
}

.divider-2 {
  flex: 1;
  height: 1px;
  background-color: #000000;
  margin: -14px auto;
}

.down-content {
  margin-top: 28px;
  display: flex;
  margin-bottom: 20px;
}

.form-wrapper {
  display: flex;
  padding-left: 24px;
  flex-direction: column;
}

.form-wrapper-up {
  border: solid 2px #748c70;
  width: 1200px;
  padding: 50px 35px;
}

.form-group {
  margin-bottom: 50px;
}

.form-group label {
  display: block;
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  width: 100%;
  border: 1px solid #666;
  padding: 8px 10px;
  font-size: 1.4rem;
  background: #fff;
}

.form-group textarea {
  height: 160px;
  resize: none;
}

.form-row {
  display: flex;
  gap: 60px;
}

.form-row .form-group {
  flex: 1;
}

.form-row .form-group label {
  display: block;
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 500;
}

.form-wrapper-down {
  margin-top: 32px;
  border: 2px solid #748c70;
  width: 100%;
}

/* header */
.variant-header {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  background: #999898;
  padding: 8px 69px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* row */
.variant-row {
  display: flex;
  padding-left: 20px;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}

.variant-row .quanity {
  margin-left: 378px;
}

.variant-row input {
  width: 150px;
  height: 30px;
  border: 1px solid #666;
  border-radius: 3px;
  font-size: 1.3rem;
}

.btn-delete {
  background: red;
  color: #fff;
  border: none;
  padding: 6px 18px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 300px;
  font-size: 1.6rem;
}

.btn-delete:hover {
  background-color: #ff383c;
}

.divider-3 {
  flex: 1;
  height: 1.5px;
  background-color: #d9d9d9;
  margin: 15px auto;
}

.btn-add {
  background: #6b8e6b;
  color: #fff;
  border: none;
  padding: 6px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  margin-top: 22px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.right-column {
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
  height: 100%;
}

.image-box {
  border: 2px solid #748c70;
}

.image-box h3 {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 24px;
  color: #000000;
  font-weight: 500;
  font-size: 2rem;
}

.upload-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 15px 0;
  padding-left: 20px;
}

.upload-row img {
  width: 22px;
  height: 22px;
}

.file-label {
  display: inline-block;
  padding: 6px 14px;
  border: 1px solid #666;
  background: #e6e6e6;
  border-radius: 4px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background 0.2s;
}

.file-label:hover {
  background: #dcdcdc;
}

/* ==========Button save========== */

.btn-save {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background: #77b881;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
}

.btn-save:hover {
  background-color: #9be1a6;
}
