.content {
  height: 100vh;
}
.right-content h1 {
  margin-top: 35px;
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  width: 250px;
  height: 50px;
  padding-left: 70px;
}

.right-content .general {
  display: flex;
  gap: 45px;
  width: calc(100% - 200px);
  justify-content: space-between;
  height: 100px;
  overflow: hidden; /* chặn tràn */
  padding-left: 70px;
}

.right-content .general .general-item {
  min-width: 254px;
  height: 100px;
  background: #fffbfb;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 8px;
}

.right-content .general .general-item .menu-title {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.right-content .general .general-item .data {
  font-size: 2rem;
  font-weight: bold;
  width: 200px;
  height: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* ... */
}

/* ============Bang don hang=============== */
.bottom-content {
  padding-left: 70px;
}

.menu-orders {
  margin-top: 60px;
  margin-right: 200px;
  background: #ffffff;
  height: 100%;
  padding: 10px 30px 30px; /* top 10px, trái phải 30px, dưới 30px */
}

.menu-orders h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
  padding-left: 0;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

/* Header */
.order-table thead {
  background: #e9ecef;
}

.order-table th,
.order-table td {
  padding: 14px 18px;
  text-align: left;
  font-size: 1.4rem;
}

.order-table th {
  font-weight: 600;
  color: #333;
}

/* Body */
.order-table tbody tr {
  border-bottom: 1px solid #eee;
  transition: background 0.25s ease;
}

.order-table tbody tr:hover {
  background: #f6f6f6;
}

/* Status badge */
.status {
  padding: 4px 10px;
  /* border-radius: 20px; */
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
}

.status.success {
  background: #e6f4ea;
  color: #2e7d32;
}

.status.pending {
  background: #fff8e1;
  color: #f57c00;
}

.status.cancel {
  background: #fdecea;
  color: #c62828;
}

/* ===========pagination================= */
.table-wrapper {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background: #e2e2e2;
  border-radius: 6px;
  cursor: pointer;
}

.pagination button.active {
  background: #748c70;
  color: #fff;
}
