.content {
  height: 100vh;
}

.right-content h1 {
  margin-top: 35px;
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  padding-left: 70px;
}

/* STAT */
.stat-box {
  display: flex;
  gap: 20px;
  margin: 30px 30px 20px 30px;
}

.stat-card {
  flex: 1;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
}

.stat-card.blue {
  border-left: 4px solid #3b82f6;
}

.stat-card.green {
  border-left: 4px solid #22c55e;
}

.stat-number {
  font-size: 26px;
  font-weight: 700;
}

.stat-label {
  color: #666;
  margin-top: 5px;
}

/* SEARCH */
.search-bar {
  display: flex;
  margin: 0 30px 15px 30px;
}

.search-bar input {
  flex: 1;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
}

.search-bar button {
  padding: 10px 22px;
  border: none;
  background: #5f7f5f;
  color: #fff;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

/* TABLE */
.table-wrap {
  background: #fff;
  border-radius: 8px;
  margin: 0 30px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #d7d2cf;
}

th,
td {
  padding: 14px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.personal {
  font-weight: 600;
}

.email {
  font-size: 13px;
  color: #777;
}

.order {
  font-weight: 600;
  color: #000;
}
